.contrht_bttns {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: -45px;
	right: 0px;
	border: #a0a0a0 0px solid;
}
.contrht_bttns ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.contrht_bttns li {
	margin: 0px 3px;
	padding: 0px;
	float: left;
	border: 0px #c6c4c4 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.contrht_bttns li a {
	margin: 0px;
	font-size: 12px;
	border-right: #c6c4c4 0px solid;
	display: block;
	color: #fff;
	font-weight: bold;
	background: url(../../../images/top_but_left.png) no-repeat left;
}
.contrht_bttns li a span {
	background: #1caf9a !important;
	padding: 8px 15px 7px 15px;
	display: block;
}
.contrht_bttns li a:hover {
	background: url(../../../images/top_but_left_hov.png) no-repeat left;
}
.contrht_bttns li a span:hover {
	background: url(../../../images/top_but_right_hov.png) no-repeat right;
}
.contrht_bttns li a.clear_all {
	background: #e7e7e7 url(../../../images/appbut-bg.png) repeat-x top; /*url(../../../images/clear_all.png) no-repeat 10px 7px ;*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.contrht_bttns li a.last {
	border: none;
}


.loaddrop {
	padding: 0px;
	margin: 0px;
}
.loaddrop ul {
	list-style: none;
}
.loaddrop li {
	background: none;
	border: 0px;
	width: 100%;
	list-style: none;
}
.loaddrop li a {
	border-right: none !important;
	border-bottom: 1px #F3F3F3 solid;
	background: url(../../../images/load-filter-ico.png) no-repeat left;
	padding: 5px 0 6px 20px;
	display: block;
	color: #333;
}
.loaddrop li a:hover {
	background: #F9F9F9 url(../../../images/load-filter-ico.png) no-repeat left;
	color: #F90;
}


.droparrow {
	position: absolute;
	width: 20px;
	height: 18px;
	left: 170px;
	top: -18px;
	background: url(../../../images/drop-arrow.png) no-repeat;
}
.drop {
	position: absolute;
	width: 200px;
	min-height: 0px;
	background: #fff;
	color: #000;
	left: 0px;
	top: 30px;
	z-index: 50;
	padding: 10px 10px 10px 5px;
	-moz-box-shadow: 0px 0px 8px #9b9b9b;
	-webkit-box-shadow: 0px 0px 8px #9b9b9b;
	box-shadow: 0px 0px 8px #9b9b9b;
	border: 3px #fff solid;
}
.drop select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #dddddd solid;
	padding: 3px 5px;
	margin: 0px 5px;
}
.drop input[type="search"], textArea, select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #dddddd solid;
	padding: 4px 5px;
	-moz-box-shadow: inset 0px 0px 3px #e2e3e3;
	-webkit-box-shadow: inset 0px 0px 3px #e2e3e3;
	box-shadow: inset 0px 1px 5px #e2e3e3;
}
.drop textArea, select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #dddddd solid;
	padding: 4px 5px;
	-moz-box-shadow: inset 0px 0px 3px #e2e3e3;
	-webkit-box-shadow: inset 0px 0px 3px #e2e3e3;
	box-shadow: inset 0px 1px 5px #e2e3e3;
}
.drop input[type="search"] {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px #dddddd solid;
	padding: 5px 5px;
	font-size: 12px;
	-moz-box-shadow: inset 0px 0px 0px #e2e3e3;
	-webkit-box-shadow: inset 0px 0px 0px #e2e3e3;
	box-shadow: inset 0px 0px 0px #e2e3e3;
}
.drop input[type="text"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #dddddd solid;
	padding: 5px 5px;
	font-size: 12px;
}
.drop input[type="submit"] {
	margin: 8px 0px 3px 3px;
	background: #9C0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px #b58530 solid;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	width: 50px;
	height: 26px;
}

.filtercontner {
	width: 100%;
	border: #cecaca solid 1px;background: #cecaca;
	/*border: #EDE5BB solid 1px;background: #FCF6D2;
	background: url(../../../images/filtrebxbg.png) repeat;*/
	padding: 0px;
	margin: 6px 0px 20px 0px; /* For IE8 and earlier */
	color:#fff;
	
}
.filterbxcntnt {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.filterbxcntnt_inner {
	margin: 0px;
	padding: 10px 10px 0px 10px;
	min-height: 30px;
	border-bottom: 1px solid #fff !important;
}
.filterbxcntnt_inner ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.filterbxcntnt_inner li {
	margin: 0px;
	padding: 5px 10px 5px 10px;
	float: left;
	font-size: 11px;
	color: #2bad0f;
	font-weight: bold;
	position: relative;
}
.filterbxcntnt_left {
	margin: 0px;
	padding: 5px 0px 0px 10px;
	float: left;
	font-size: 12px;
	color: #fff;
	position: absolute;
	width: 100px;
	top: 3px;
	left: 10px;
}
.filterbxcntnt_inner_bot {
	margin: 0px;
	padding: 0px 10px 0px 70px;
	min-height: 30px;
	position: relative;
}
.filterbxcntnt_right {
	margin: 0px;
	padding: 5px 0px 0px 40px;
	float: left;
	font-size: 12px;
}
.filterbxcntnt_right ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.filterbxcntnt_right li {
	margin: 0px 8px 8px 0px;
	float: left;
	padding: 2px 32px 2px 10px;
	position: relative;
	height: 20px;
	display: block;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0.1em 0.1em #b88826;
	border: #b6880d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #efb84f url(../../../images/active_filter_bg.png) repeat-x bottom;
	-moz-box-shadow: 0 0 3px #fff;
	-webkit-box-shadow: 0 0 3px #fff;
	box-shadow: 0 0 3px #fff;
}

.filterbxcntnt_right li a {
	background: url(../../../images/filter_close.png) no-repeat;
	width: 16px;
	height: 15px;
	position: absolute;
	top: 3px;
	right: 5px;
}
/*pagination*/
.pagecon {
	/*height: 15px;*/
}
ul.pages {
	padding: 0px 10px;
	margin: 10px 0px 0px 0px;
	height: 35px;
	list-style: none;
	float: right;/*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
	 -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; -moz-box-shadow:0px 0px 8px #bbbbbb;
  -webkit-box-shadow: 0px 0px 8px #bbbbbb;
  box-shadow: 0px 0px 8px #bbbbbb;*/
  border:1px #E8E8E8 solid;
}
ul.pages li {
	padding: 0px;
	margin: 0px;
	float: left;
}
ul.pages li a {
	padding: 5px 12px;
	margin: 0px;
	display: block;
	color: #545454;
	/*	background: -moz-linear-gradient(top, #ffffff, #ececec);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));*/
	border-right: 1px solid #dedede;
	border-left: 1px solid #fff;
}
ul.pages li a:hover, ul.pages li a.ln-selected {/* background-color:#666; background: -moz-linear-gradient(top, #909090, #6e6e6e);
	background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#6e6e6e));border-left:1px solid #909090; border-right:1px solid #909090; */
	color: #ccc;
	text-decoration: underline;
}
ul.pages li.selected a { /*background-color:#666; background: -moz-linear-gradient(top, #909090, #6e6e6e);
	background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#6e6e6e));border-left:1px solid #909090;*/
	color: #069;
	font-weight: bold;
	font-size: 13px;
}
ul.pages li.last a {
	border: none;
}

.pager {
	height: 35px;
	padding-top: 10px;
	width: auto;
	display: block;
}
.table_heading
{
	border:1px solid #bbb;

  border-radius: 20px; 
}
.table_heading_line
{
	background:#2196f3;
	color:white;
}
.link_sty
{
	text-decoration:none;color:white;
}
.link_sty:hover
{
	color: #fff !important;
}
/*---New Part 20-11-2017---*/
.padding-left-clear
{
	padding-left:0px !important;
}
.padding-right-clear
{
	padding-right:0px !important;
}
.padding-all-clear
{
	padding:0px !important;
}
.margin-top-zero
{
	margin-top:0px !important;
}
.clear-padding {
										padding:0px !important;
									}
.padding-left-thirytwo
{
	padding-left:32px;
}
.padding-left-fifty
{
	padding-left:15px !important;
}
.padding-bottom-twentyseven
{
padding:0px 0px 27px  0px!important;
}
.padding-left-twentyseven{
	padding-left:27px !important;
}
.padding-top-five
{
	padding-top:5px !important;
}
.size_twele
{
	font-size:12px !important;
}
.cur_pointer
{
	cursor:pointer !important;
}
.design_filter
{
	display:none; width:230 !important; padding-top:10px !important; height:100px !important;
}
.cohart_design_filter
{
	display:none; width:230 !important; padding-top:10px !important; height:190px !important;
}
.dob_design_filter
{
	display:none; width:230 !important; padding-top:10px !important; height:140px !important;
}
.country_design_filter
{
	display:none; width:230 !important; padding-top:10px !important; height:90px !important;
}
.design_filter_fifty
{
	display:none; width:230 !important; padding-top:10px !important; height:50px !important;
}
.design_filter_fifty_widthlow
{
	display:none; width:130 !important; padding-top:10px !important; height:50px !important;
}
.filter_arrow
{
	left:10px !important;
}
/*---24-11-2017---*/
.siz-pdf
{
font-size:20px;
}
.align-pdf
{
height:auto;padding-bottom:1px;
}
.padding-right-four
{
padding-right:4px;
}
.own_success_btn
{
	color: #fff;
background-color: #4CAF50 !important;
border-color: #4CAF50 !important;
}
					.padding-bottom-twentyseven .btn-default:hover
					{
						 
color: #fff;
background-color: #4CAF50 !important;
border-color: #4CAF50 !important;

					}
					.own-bg-grey
					{
						color: #fff;
background-color: #cecaca !important;
border-color:1px solid #cecaca !important;
					} 
					.own-form-countrol
					{
display: block !important;
width: 100% !important;
height: 36px !important;
padding: 7px 12px !important;
font-size: 13px !important;
line-height: 1.5384616 !important;
color: #333333 !important;
background-color: #fff !important;
background-image: none !important;
					}
.table_with_pdf
{
	background:#fff !important;color:#333333!important;padding-left:15px !important;;
}
.table_with_pdf:hover {
	background-color: #f5f5f5 !important;
}